<a href="https://colab.research.google.com/github/qadawans/CSC221_opowe001/blob/main/Assignment5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pizzas = ['Pepperoni', 'Cheese', 'Four Cheese']
for pizza in pizzas:
  print(f"I like {pizza.title()}.")

print('I love pizza. I like pepperoni, cheese, and four cheese. My favorite topping is black olives. I love pizza so much!')

print("The three kinds of pizza are:")
for pizza in pizzas[:3]:
  print(pizza.title())

print("The three kinds of pizza are:")
for pizza in pizzas[:3]:
  print(pizza.title())

  # This list only has 3 items so slicing it three more times would be the exact same.

I like Pepperoni.
I like Cheese.
I like Four Cheese.
I love pizza. I like pepperoni, cheese, and four cheese. My favorite topping is black olives. I love pizza so much!
The three kinds of pizza are:
Pepperoni
Cheese
Four Cheese

In [ ]:
animals = ['Hamster', 'Guinea Pig', 'Mouse']
for animal in animals:
  print(f'A {animal.title()} would make such a cute pet.')
print('I think these animals would be a good pet because they\'re little.')

A Hamster would make such a cute pet.
A Guinea Pig would make such a cute pet.
A Mouse would make such a cute pet.
I think these animals would be a good pet because they're little.

In [ ]:
for value in range(1,21):
  print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
# I did not do number 4 because it was basically the same as above and would probably have caused the system to crash

In [ ]:
numbers = list(range(1,1000001))
min(numbers)
max(numbers)
sum(numbers)

500000500000

In [ ]:
odd_numbers = list(range(1,21))
for even_number in even_numbers:
    print(even_number)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
threes = list(range(3, 30, 3))
for three in threes:
  print(three)

3
6
9
12
15
18
21
24
27

In [ ]:
cubes = [value**3 for value in range(1,11)]
for cube in cubes:
  print(cube)

1
8
27
64
125
216
343
512
729
1000

In [ ]:
# 4-11 feels redundant after completing assignment number 4. Same goes for 4-12. I've used for loops in this entire assignment.

In [ ]:
buffets = ('chicken', 'spaghetti', 'tacos', 'pizza')
for buffet in buffets:
  print(buffet)

buffets = ('chicken', 'macaroni', 'sushi', 'pizza')
print('\nModified buffets:')
for buffet in buffets:
  print(buffet)

# You can't modify tuples

chicken
spaghetti
tacos
pizza

Modified buffets:
chicken
macaroni
sushi
pizza

In [ ]:
def factorial(n):
    if n < 0:
        return None  # Factorial is undefined for negative numbers
    elif n == 0:
        return 1  # Factorial of 0 is 1
    else:
        factorial_list = list(range(1, n+1))  # Create a list of numbers from 1 to n
        result = 1
        for num in factorial_list:
            result *= num  # Multiply each number in the list to calculate factorial
        return result

In [ ]:
my_list = list(range(1,n))

product = 1

for x in my_list:
  product = product * x
print(product)

24

In [ ]:
def factorial(n):
    my_list = list(range(1, n+1))
    product = 1
    for x in my_list:
        product = product * x
    return product


print(factorial(5))
print(factorial(10))
print(factorial(20))
print(factorial(50))

120
3628800
2432902008176640000
30414093201713378043612608166064768844377641568960512000000000000

In [53]:
def special_factorial(n):
    my_list = list(range(1, n+1))
    product = 1
    for x in my_list:
        product = product * x
    return product

# Can't be removed because they're not in the list
# my_list.remove(4)
#my_list.remove(13)
# my_list.remove(22)

print(special_factorial(5))
print(special_factorial(10))
print(special_factorial(20))
print(special_factorial(50))

120
3628800
2432902008176640000
30414093201713378043612608166064768844377641568960512000000000000