<a href="https://colab.research.google.com/github/qadawans/CSC221_opowe001/blob/main/Quiz3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# 1. Print

print("Hello World!")

Hello World!

In [1]:
# 2. Input

name = input("What's your name?")
age = input("What's your age?")

print(f"Hey, {name}! You're {age} years old!")

What's your name?liv
What's your age?19
Hey, liv! You're 19 years old!

In [ ]:
# 3. Dict

my_dict = dict({"name": "liv", "age": 19, "city": "Plattsburgh"})
print(my_dict)

In [ ]:
# 4. Tuple
my_list = [1, 2, 3, 4, 5]
my_tuple = tuple(my_list)
print(my_tuple)

In [ ]:
# 5. Range
my_range = range(5)
print(list(my_range))

In [ ]:
# 6. List
my_string = "hello"
my_list = list(my_string)
print(my_list)

In [3]:
# 7. Len

my_string = "hello"
string_length = len(my_string)
print("Length of the string:", string_length)

my_list = [1, 2, 3, 4, 5]
list_length = len(my_list)
print("Length of the list:", list_length)

Length of the string: 5
Length of the list: 5

In [4]:
# 8. Object

class MyClass:
    pass

print(issubclass(MyClass, object))

True

In [ ]:
# 9. Locals

x = 10
y = 'hello'

print(locals())

In [5]:
# 10. Bin
number = 10
binary_representation = bin(number)
print(binary_representation)

In [6]:
# 11. Hash

print(hash(42))
print(hash("hello"))
print(hash((1, 2, 3)))

42
-1079129058508516784
529344067295497451

In [7]:
# 12. Set


my_set = {1, 2, 3, 4, 5}
print(my_set)

my_set.add(6)
print(my_set)

my_set.remove(3)
print(my_set)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}

In [ ]:
# 13. Globals

global_var = 42

print(globals())

In [ ]:
# 14. Str

num = 42
num_str = str(num)
print(num_str)

In [8]:
# 15. Eval

expression = "2 + 3 * 4"
result = eval(expression)
print(result)

14

In [10]:
# 16. Float

str_float = "3.9"
num_float = float(str_float)
print(num_float)

3.9

In [11]:
# 17. Format


name = "liv"
age = 19
city = "plattsburgh"

template = "My name is {}, I am {} years old, and I live in {}."

formatted_string = template.format(name, age, city)

print(formatted_string)

My name is liv, I am 19 years old, and I live in plattsburgh.

In [12]:
# 18. Max

numbers = [3, 7, 1, 9, 5]
max_number = max(numbers)
print(max_number)

9

In [13]:
# 19. Vars
local_namespace = vars()
print(local_namespace)

{'__name__': '__main__', '__doc__': 'Automatically created module for IPython interactive environment', '__package__': None, '__loader__': None, '__spec__': None, '__builtin__': <module 'builtins' (built-in)>, '__builtins__': <module 'builtins' (built-in)>, '_ih': ['', '# Input\n\nname = input("What\'s your name?")\nage = input("What\'s your age?")\n\nprint(f"Hey, {name}! You\'re {age} years old!")', '# Print\n\nprint("Hello World!")', '# 7. Len\n\nmy_string = "hello"\nstring_length = len(my_string)\nprint("Length of the string:", string_length)\n\nmy_list = [1, 2, 3, 4, 5]\nlist_length = len(my_list)\nprint("Length of the list:", list_length)', '# 8. Object\n\nclass MyClass:\n    pass\n\nprint(issubclass(MyClass, object)) ', '# 10. Bin', '# 11. Hash\n\nprint(hash(42))  \nprint(hash("hello")) \nprint(hash((1, 2, 3))) ', '# 12. Set\n\n\nmy_set = {1, 2, 3, 4, 5}\nprint(my_set)\n\nmy_set.add(6)\nprint(my_set)\n\nmy_set.remove(3)\nprint(my_set)', '# 15. Eval\n\nexpression = "2 + 3 * 4"\nresult = eval(expression)\nprint(result) ', '# 16. Float\n\nstr_float = "34"\nnum_float = float(str_float)\nprint(num_float)', '# 16. Float\n\nstr_float = "3.9"\nnum_float = float(str_float)\nprint(num_float)', '# 17. Format\n\n\nname = "liv"\nage = 19\ncity = "plattsburgh"\n\ntemplate = "My name is {}, I am {} years old, and I live in {}."\n\nformatted_string = template.format(name, age, city)\n\nprint(formatted_string)', '# 18. Max\n\nnumbers = [3, 7, 1, 9, 5]\nmax_number = max(numbers)\nprint(max_number)', '# 19. Vars\nlocal_namespace = vars()\nprint(local_namespace)'], '_oh': {}, '_dh': ['/content'], 'In': ['', '# Input\n\nname = input("What\'s your name?")\nage = input("What\'s your age?")\n\nprint(f"Hey, {name}! You\'re {age} years old!")', '# Print\n\nprint("Hello World!")', '# 7. Len\n\nmy_string = "hello"\nstring_length = len(my_string)\nprint("Length of the string:", string_length)\n\nmy_list = [1, 2, 3, 4, 5]\nlist_length = len(my_list)\nprint("Length of the list:", list_length)', '# 8. Object\n\nclass MyClass:\n    pass\n\nprint(issubclass(MyClass, object)) ', '# 10. Bin', '# 11. Hash\n\nprint(hash(42))  \nprint(hash("hello")) \nprint(hash((1, 2, 3))) ', '# 12. Set\n\n\nmy_set = {1, 2, 3, 4, 5}\nprint(my_set)\n\nmy_set.add(6)\nprint(my_set)\n\nmy_set.remove(3)\nprint(my_set)', '# 15. Eval\n\nexpression = "2 + 3 * 4"\nresult = eval(expression)\nprint(result) ', '# 16. Float\n\nstr_float = "34"\nnum_float = float(str_float)\nprint(num_float)', '# 16. Float\n\nstr_float = "3.9"\nnum_float = float(str_float)\nprint(num_float)', '# 17. Format\n\n\nname = "liv"\nage = 19\ncity = "plattsburgh"\n\ntemplate = "My name is {}, I am {} years old, and I live in {}."\n\nformatted_string = template.format(name, age, city)\n\nprint(formatted_string)', '# 18. Max\n\nnumbers = [3, 7, 1, 9, 5]\nmax_number = max(numbers)\nprint(max_number)', '# 19. Vars\nlocal_namespace = vars()\nprint(local_namespace)'], 'Out': {}, 'get_ipython': <bound method InteractiveShell.get_ipython of <google.colab._shell.Shell object at 0x7b314840b7f0>>, 'exit': <IPython.core.autocall.ZMQExitAutocall object at 0x7b314840bd90>, 'quit': <IPython.core.autocall.ZMQExitAutocall object at 0x7b314840bd90>, '_': '', '__': '', '___': '', '_i': '# 18. Max\n\nnumbers = [3, 7, 1, 9, 5]\nmax_number = max(numbers)\nprint(max_number)', '_ii': '# 17. Format\n\n\nname = "liv"\nage = 19\ncity = "plattsburgh"\n\ntemplate = "My name is {}, I am {} years old, and I live in {}."\n\nformatted_string = template.format(name, age, city)\n\nprint(formatted_string)', '_iii': '# 16. Float\n\nstr_float = "3.9"\nnum_float = float(str_float)\nprint(num_float)', '_i1': '# Input\n\nname = input("What\'s your name?")\nage = input("What\'s your age?")\n\nprint(f"Hey, {name}! You\'re {age} years old!")', 'name': 'liv', 'age': 19, '_i2': '# Print\n\nprint("Hello World!")', '_i3': '# 7. Len\n\nmy_string = "hello"\nstring_length = len(my_string)\nprint("Length of the string:", string_length)\n\nmy_list = [1, 2, 3, 4, 5]\nlist_length = len(my_list)\nprint("Length of the list:", list_length)', 'my_string': 'hello', 'string_length': 5, 'my_list': [1, 2, 3, 4, 5], 'list_length': 5, '_i4': '# 8. Object\n\nclass MyClass:\n    pass\n\nprint(issubclass(MyClass, object)) ', 'MyClass': <class '__main__.MyClass'>, '_i5': '# 10. Bin', '_i6': '# 11. Hash\n\nprint(hash(42))  \nprint(hash("hello")) \nprint(hash((1, 2, 3))) ', '_i7': '# 12. Set\n\n\nmy_set = {1, 2, 3, 4, 5}\nprint(my_set)\n\nmy_set.add(6)\nprint(my_set)\n\nmy_set.remove(3)\nprint(my_set)', 'my_set': {1, 2, 4, 5, 6}, '_i8': '# 15. Eval\n\nexpression = "2 + 3 * 4"\nresult = eval(expression)\nprint(result) ', 'expression': '2 + 3 * 4', 'result': 14, '_i9': '# 16. Float\n\nstr_float = "34"\nnum_float = float(str_float)\nprint(num_float)', 'str_float': '3.9', 'num_float': 3.9, '_i10': '# 16. Float\n\nstr_float = "3.9"\nnum_float = float(str_float)\nprint(num_float)', '_i11': '# 17. Format\n\n\nname = "liv"\nage = 19\ncity = "plattsburgh"\n\ntemplate = "My name is {}, I am {} years old, and I live in {}."\n\nformatted_string = template.format(name, age, city)\n\nprint(formatted_string)', 'city': 'plattsburgh', 'template': 'My name is {}, I am {} years old, and I live in {}.', 'formatted_string': 'My name is liv, I am 19 years old, and I live in plattsburgh.', '_i12': '# 18. Max\n\nnumbers = [3, 7, 1, 9, 5]\nmax_number = max(numbers)\nprint(max_number)', 'numbers': [3, 7, 1, 9, 5], 'max_number': 9, '_i13': '# 19. Vars\nlocal_namespace = vars()\nprint(local_namespace)', 'local_namespace': {...}}

In [14]:
# 20. Enumerate

my_list = ['apple', 'banana', 'orange']

for index, value in enumerate(my_list):
    print(index, value)

0 apple
1 banana
2 orange